/* Add CSS styling here */


/* * {
 box-sizing: border-box;
 padding: 0;
margin: 0;
max-width: 100%;
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: white;
}

header {
    width: 100%;
    height: 100px;
    padding: 2% 0 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-image: url(https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
}

header .name {
    margin-left: 1.5%;
}

header h1 {
    font-size: 2.5rem;
}

header nav {
    width: 35%;
    text-align: center;
}

header nav a {
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0 2%;
}

header nav a:hover {
    background: gainsboro;
    border-radius: 20px;
    padding: 2%;
    color: white;
}

@media(max-width: 900px) {
    header {
        justify-content: space-between;
    }
    header h1 {
        font-size: 1.5rem;
    }
    header nav {
        width: 60%;
    }
    header nav a {
        font-size: 1.1rem;
    }
}

@media(max-width: 500px) {
    header {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    header h1 {
        font-size: 2rem;
    }
    header nav {
        width: 100%;
    }
    header nav a {
        font-size: 1.1rem;
    }
}

.container1 {
    background-position: center center;
    height: 100vh;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
}

.container1 h2 {
    font-size: 2rem;
    margin: 1% 0;
    font-weight: 600;
}

.container1 p {
    font-size: 1.3rem;
    margin: 1% 0;
}

.container1 button {
    margin: 1% 0;
    font-size: 1.1rem;
    background: black;
    border: none;
    width: 15%;
    height: 32px;
    border-radius: 10px;
}

.container1 button:hover {
    background: lightgrey;
}

.container1 button a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.container1 button a:hover {
    color: black;
}

@media(max-width: 900px) {
    .container1 {
        background-size: cover;
        height: 300px;
    }
    .container1 h2 {
        font-size: 1.5rem;
        font-weight: inherit;
    }
    .container1 p {
        font-size: 1rem;
    }
    .container1 button {
        font-size: 1rem;
        width: 25%;
    }
}

@media (max-width: 500px) {
    .container1 {
        background-size: cover;
        height: 250px;
    }
    .container1 h2 {
        font-size: 1.5rem;
        font-weight: inherit;
    }
    .container1 p {
        font-size: 1rem;
    }
    .container1 button {
        font-size: 1rem;
        width: 25%;
    }
}

.boxes {
    margin: 3% 0;
}

.container2,
.container3 {
    display: flex;
    justify-content: space-around;
    margin: 2% 0;
}

.container2 div,
.container3 div {
    width: 30%;
    height: 400px;
}

.container2 div img,
.container3 div img {
    width: 100%;
    border-radius: 20px;
    height: 350px;
}

.container2 div p,
.container3 div p {
    text-align: center;
    font-size: 1.3rem;
}

@media (max-width: 900px) {
    .container2,
    .container3 {
        justify-content: space-around;
        align-items: center;
    }
    .container2 div,
    .container3 div {
        width: 30%;
    }
    .container2 div img,
    .container3 div img {
        height: 300px;
    }
}

@media (max-width: 500px) {
    .container2,
    .container3 {
        flex-direction: column;
        align-items: center;
    }
    .container2 div,
    .container3 div {
        width: 70%;
    }
    .container2 div img,
    .container3 div img {
        height: 300px;
    }
}

footer {
    border-top: 1px solid;
    color: #CCC;
    background: beige;
}

footer .socialMedia {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

footer .socialMedia a {
    display: inline-block;
    height: 31px;
    margin-right: 3px;
    width: 5%;
}

footer .socialMedia a .facebook {
    width: 80%;
}

footer .socialMedia a .instagram {
    width: 55%;
}

footer .socialMedia a .twitter {
    width: 55%;
}

footer .contactUs {
    display: flex;
    justify-content: center;
}

footer .contactUs button {
    margin: 1% 0;
    font-size: 1.1rem;
    background: black;
    border: none;
    width: 10%;
    height: 32px;
    border-radius: 10px;
}

footer .contactUs button:hover {
    background: lightgrey;
}

footer .contactUs button a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

footer .contactUs button a:hover {
    color: black;
}

footer .footerLine {
    width: 100%;
    margin: 2% 0 0 0;
}

footer .footerLine hr {
    background: #CCC;
    border: 0;
    height: 1px;
    margin: 0 5% 5px;
}

footer .footerLine .footerName {
    bottom: 37px;
    height: 37px;
    margin: 0 auto;
    padding: 10px;
    width: 3%;
    position: relative;
}

footer .footerLine .footerName span {
    display: flex;
    height: 37px;
    align-items: center;
    padding: 0 10% 0 20%;
    background: white;
}

footer .top-page {
    background: #f0f0f0 none repeat scroll 0 0;
    bottom: 15px;
    right: 35px;
    display: inline-block;
    height: 55px;
    width: 55px;
    position: fixed;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 5;
    visibility: visible;
    opacity: 0.5;
    border-radius: 50%;
}

footer .top-page:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

footer .top-page .arrowUp {
    transform: rotate(-90deg);
    display: flex;
    color: #000;
    position: relative;
}

footer .top-page .arrowU::before {
    content: "\e909";
}

footer .top-page .arrowUp img {
    width: 50%;
}

@media (max-width: 900px) {
    footer .socialMedia a {
        width: 10%;
    }
    footer .contactUs button {
        font-size: 1rem;
        width: 20%;
        margin: 2% 0 0;
    }
    footer .footerLine {
        margin: 4% 0 0 0;
    }
}

@media (max-width: 500px) {
    footer .socialMedia a {
        width: 15%;
    }
    footer .contactUs button {
        font-size: 1rem;
        width: 20%;
    }
    footer .footerLine {
        margin: 4% 0 0 0;
    }
}